{% extends 'jailor/jailor_dashboard.html' %}
{% block content %}
<ol class="breadcrumb justify-content-left">
    <li class="breadcrumb-item">
        <a href="/jailor-dashboard">Home</a>
    </li>
    <li class="breadcrumb-item active">View Details</li>
</ol>

<section class="banner-bottom-wthree py-lg-5 py-md-5 py-3">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5  py-3">
        <!---728x90--->
            <div class="single-user-candidate" >
                <div class="col-md-3 emp_btn text-right" style="margin-left: 750px;">
                    <a href="" onclick="printPage()">Print </a>
                </div>
                <div class="user-detail-info text-center">
                    <div class="user-pic">
                        <img src="../../static/{{prisoner.prisoner_image}}" class="img-fluid rounded-circle" alt="images">
                    </div>
                    <div class="user-content-info emply-resume-info text-center mt-4">
                        <h4>
                            <a href="#">{{prisoner.fname}} {{prisoner.lname}}</a>
                        </h4>
                        <!-- <h5 class="mt-2">
                            <span>UX / UI Designer</span> at Company Name</h5> -->
                        <p>
                            <!-- <i class="fas fa-map-marker-alt"></i> Istanbul / Turkey</p> -->
                        <!-- <ul class="links_bottom_emp mt-2">
                            <li>
                                <a href="candidate_single.html">
                                    <i class="far fa-envelope"></i>
                                    <span class="icon_text"> Email this Job</span>
                                </a>
                            </li>
                            <li>
                                <a href="location_single.html">
                                    <i class="fas fa-eye"></i>
                                    <span class="icon_text">View full Job Description</span>
                                </a>
                            </li>
                        </ul> -->
                        <!-- <div class="skills-info my-4">
                            <span>Photoshop</span>
                            <span class="mx-3">Designer</span>
                            <span>Ilustrator</span>
                        </div> -->
                    </div>
                </div>
            </div>
            <!--row -->
            <!-- <div class="row qualification-details mt-5">
                <div class="col-md-3 qual-grid">
                    <div class="qual-icon text-center">
                        <i class="far fa-money-bill-alt"></i>
                    </div>
                    <div class="qual-info">
                        <h4>Offerd Salary</h4>
                        <p>$15,000 - $20,000</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-3 qual-grid">
                    <div class="qual-icon text-center">
                        <i class="fas fa-transgender"></i>
                    </div>
                    <div class="qual-info">
                        <h4>Gender</h4>
                        <p>Male</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-3 qual-grid">
                    <div class="qual-icon text-center">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    <div class="qual-info">
                        <h4>Career Level</h4>
                        <p>Designer</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-3 qual-grid">
                    <div class="qual-icon text-center">
                        <i class="fas fa-shield-alt"></i>
                    </div>
                    <div class="qual-info">
                        <h4>Experience</h4>
                        <p>4 Years</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div> -->
            <!--row -->
            <!--/about -->
            <div class="candidate-ab-info mt-5">
                <h5 class="j-b mb-3">Basic Info</h5>
                <p>Adress : {{prisoner.address}}</p>
                <p>Contact : {{prisoner.phone}}</p>
                <p>Aadhar : {{prisoner.aadhar}}</p>
                <p class="mt-2">{{prisoner.from_date}}</p>
            </div>
            <!--// about -->
            <!---728x90--->
            <!--/history -->
            <div class="candidate-history-info mt-5">
                <h5 class="j-b mb-5">Crime Details</h5>
                <div class="candidate-story-grid pl-3">
                    <!-- <div class="candidate-story-det-icon text-center">
                        <i class="fas fa-graduation-cap"></i>
                    </div> -->
                    <div class="candidate-story-det-info">
                        <!-- <h4>University</h4>
                        <h6 class="my-2">2008 - 2012</h6> -->
                        <p>{{prisoner.crimes}}</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- <div class="candidate-story-grid pl-3 mt-5">
                    <div class="candidate-story-det-icon text-center">
                        <i class="fas fa-graduation-cap"></i>
                    </div>
                    <div class="candidate-story-det-info">
                        <h4>College</h4>
                        <h6 class="my-2">2008 - 2012</h6>
                        <p>Curabitur non nulla sit amet nislinit tempus convallis quis ac lectus. lac inia eget consectetur sed, convallis at tellus. Nulla porttitor accumsana tincidunt.Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore et dolore .Nam arcu mauris.</p>
                    </div>
                    <div class="clearfix"></div>
                </div> -->
            </div>
            <!--//history -->
            <!-- <div class="candidate-history-info mt-5">
                <h5 class="j-b mb-5">Vistor Status</h5>
                <table class="table">
                    <thead>
                      <tr>
                        
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                        
                      <tr>
                        
                       
                        <td>{{prisoner.visitor_status}}</td>

                        <td><a href="/jailor-delete-duty?id={{duties.id}}&prisoner_id={{prisoner.id}}" class="btn btn-secondary">Delete</a></td>
                      </tr>
                  
                    </tbody>
                  </table>
                
                
                
              
            </div> -->
            <div class="candidate-history-info mt-5">
                <h5 class="j-b mb-5">Duties</h5>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Duty</th>
                        <th scope="col">Action</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                        {% for duties in duties %}
                      <tr>
                        
                        <td>{{duties.dutystartdate}}</td>
                        <td>{{duties.dutyenddate}}</td>
                        <td>{{duties.duty_name}}</td>

                        <td><a href="/jailor-delete-duty?id={{duties.id}}&prisoner_id={{prisoner.id}}" class="btn btn-secondary">Delete</a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                
                
                
              
            </div>
            <div class="candidate-history-info mt-5">
                <h5 class="j-b mb-5">Remarks</h5>
                <form method="post">
                    {% csrf_token %}
                    <input type="submit" value="Filter using date">
                    <input type = "date" name = "filterdate">
                </form>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Action</th>
                        <th scope="col">Remarks</th>
                        <th scope="col">Rating</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                        {% for remarks in remarks %}
                      <tr>
                        
                        <td>{{remarks.created_date}}</td>
                        <td>{{remarks.action}}</td>
                        <td>{{remarks.remarks}}</td>
                        <td>{{remarks.rating}}⭐</td>
                        <!-- <td><a href="/jailor-delete-duty?id={{duties.id}}&prisoner_id={{prisoner.id}}" class="btn btn-secondary">Delete</a></td> -->
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

            </div>
            <!--//skills-->
            <!---experience-->
            
            <!--//experience-->
            <!--/awards-->
            <!-- <div class="candidate-history-info mt-5">
                <h5 class="j-b mb-5">Awards</h5>

                <div class="candidate-story-grid pl-3">
                    <div class="candidate-story-det-icon text-center">
                        <i class="fas fa-trophy"></i>
                    </div>
                    <div class="candidate-story-det-info">
                        <h4>Perfect Attendance Programs</h4>
                        <h6 class="my-2">2012 - 2015</h6>
                        <p>Curabitur non nulla sit amet nislinit tempus convallis quis ac lectus. lac inia eget consectetur sed, convallis at tellus. Nulla porttitor accumsana tincidunt.Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore et dolore .Nam arcu mauris.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="candidate-story-grid pl-3 mt-5">
                    <div class="candidate-story-det-icon text-center">
                        <i class="fas fa-trophy"></i>
                    </div>
                    <div class="candidate-story-det-info">
                        <h4>Top Performer Recognition</h4>
                        <h6 class="my-2">2015 - 2017</h6>
                        <p class="mb-4">Curabitur non nulla sit amet nislinit tempus convallis quis ac lectus. lac inia eget consectetur sed, convallis at tellus. Nulla porttitor accumsana tincidunt.Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore et dolore .Nam arcu mauris.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div> -->
            <!--//awards-->
            <!--/skills-->
            <!-- <div class="candidate-btn-in d-flex text-right mt-5">
                <div class="can-btn">
                    <a href="#">
                        <i class="fas fa-long-arrow-alt-down"></i> Download Cv</a>
                </div>
                <div class="can-btn">
                    <a href="contact.html">
                        <i class="far fa-user"></i> Contact</a>
                </div>
            </div> -->
        </div>
    </div>
</section>
<script>
    function printPage() {
        window.print();
    }
</script>
{% endblock %}